<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts" [ngClass]="{'list-group-item': true,
          'list-group-item-success':post.loveIts > 0,
           'list-group-item-danger':  post.loveIts < 0}">
          <h3>{{ post.title }}</h3>
         <div style="text-align: right; margin-top:-30px;"> {{ post.created_at | date:'dd/MM/yyyy, HH:mm a'}} </div>
          <br>
          {{ post.content }}
          <br><br>
          <button  class="btn btn-success"
                   (click)="onLike(post)">Love it!</button>&nbsp;

          <button class="btn btn-danger"
                  (click)="onDislike(post)">Don't love it!</button>
        </li>
      </ul>
    </div>
  </div>
</div>

